@font-face {
  font-family: "ITC Newtext";
  font-style: normal;
  src: url('assets/ITCNewtextRegular.otf') format("opentype");
}

p {
  margin: 0;
}

#root {
  height: 100vw;
  width: 100vw;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

/*.logo:hover {*/
/*  filter: drop-shadow(0 0 2em #ee1c2e);*/
/*}*/

#header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 50px;
}

#hero{
  padding: 5vw 0;
}

#content {
  max-width: 650px;
  margin: auto;
  padding: 20px;
}

.meal-content-square {
  content: '';
  width: 200px;
  height: 200px;
  min-width: 200px;
  min-height: 200px;
  background: #f3f3f3;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 0;
}

.meal-content-square:hover, input:hover {
  box-shadow: #f6f6f6 0px 0px 0px 4px;
}

.meal-content-caption {
  max-width: 180px;
  text-align: center;
  font-weight: bold;
  padding-top: 20px;

  a {
    color: #363636;
    text-decoration: none;
  }
}

#meal-contents {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.meal-deal-item {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.blue-button {
  font-family: "TESCO Modern", Arial, sans-serif;
  font-size: 16px;
  background-color: rgb(0, 83, 159);
  color: rgb(255, 255, 255);
  border-radius: 24px;
  height: 100%;
  white-space: nowrap;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
  border: none;
}

.blue-button:hover {
  box-shadow: rgba(0, 83, 159, 0.4) 0px 0px 0px 4px;
  text-decoration: underline;
}
.red-button {
  font-family: "TESCO Modern", Arial, sans-serif;
  font-size: 16px;
  background-color: rgb(159, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 24px;
  height: 100%;
  white-space: nowrap;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
  border: none;
}

.red-button:hover {
  box-shadow: rgba(159, 0, 0, 0.4) 0px 0px 0px 4px;
  text-decoration: underline;
}

#actions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 20px;
  padding: 0 7px;
  align-content: center;
  margin-top: 50px;
}

.meal-choice{
  content: '';
  width: 100px;
  height: 100px;
  background: #f3f3f3;
}

.meal-choice-list{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 100%;
  column-gap: 15px;
  row-gap: 15px;
  margin: 0;
  padding: 50px 0;
  justify-content: center;
}

.meal-choice-list-item{
  max-width: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  min-width: 150px;
  background: none;
  border: none;
  gap: 8px;
  cursor: pointer;
  padding: 10px;
  justify-content: space-between;

  a {
    text-decoration: none;
    color: #2d2d2d;
    font-size: 16px;
    font-weight: 500;
  }
}

.meal-choice-list-item-about {
  display: flex;
  flex: 1;
  flex-direction: column;
}


#meal-options{
  margin: 80px 0;
}

#header {
  font-family: "ITC Newtext", serif
}

.option-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.meal-deal-action {
  z-index: 10;
  position: absolute;
}

.meal-deal-actions-bottom {
  position: relative;
  top: -45px;
  left: 50px;

  button {
    padding: 17px 10px !important;
  }
}

.meal-deal-actions-top {
  position: relative;
  top: 15px;
  left: 50px;


  button {
    padding: 17px 10px !important;
  }
}

.main-choice-list-item-name{
  display: flex;
  flex: 1;
}

.invisible-button {
  background: none;
  border: none;
}